<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="cash" class="com.wajahat.shoppingcart.service.CashPaymentService">
    </bean>

    <bean id="card" class="com.wajahat.shoppingcart.service.CardPaymentService">
    </bean>
</beans>